schema/Actividad02_XSD_Documentos.xsd

<?xml version="1.0"?>
<schema xmlns ="http://www.w3.org/2001/XMLSchema">
    <!-- El nodo raiz se llama Documentos-->
    <element name="Documentos">
        <complexType>
            <sequence>
                <element name="Documento" minOccurs="0"  maxOccurs="unbounded">
                    <complexType>
                        <sequence>
                            <element name="Libro" minOccurs="0"  maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="Titulo" type="string"/>
                                        <element name="Capitulos">
                                            <complexType>
                                                <sequence>
                                                    <element name="Capitulo" minOccurs="0"  maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>                                                               
                                                                <element name="Contenido">
                                                                    <complexType>
                                                                        <attribute name="enlace" type="string" use="required"/>
                                                                   </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="titulo" type="string" use="required"/>
                                                            <attribute name="paginas" type="integer" use="required"/>
                                                        </complexType>
                                                    </element>                                                                     
                                                </sequence>
                                            </complexType>
                                        </element>
                                        <element name="Indice" type="string"/>
                                        <element name="Sinopsis" type="string"/>
                                    </sequence>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="novela"/>
                                                <enumeration value="infantil"/>
                                                <enumeration value="didáctico"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="paginas" type="integer" use="required"/>
                                </complexType>  
                            </element>
                            <element name="Revista" minOccurs="0"  maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="Titulo" type="string"/>
                                        <element name="Num_Revista" type="integer" />
                                        <element name="Indice" type="string"/>
                                        <element name="Secciones">
                                            <complexType>
                                                <sequence>
                                                    <element name="Seccion" minOccurs="0"  maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>                                                               
                                                                <element name="Contenido">
                                                                    <complexType>
                                                                        <attribute name="enlace" type="string" use="required"/>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="titulo" type="string" use="required"/>
                                                            <attribute name="paginas" type="integer" use="required"/>
                                                        </complexType>
                                                    </element>                                                                     
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="informatica"/>
                                                <enumeration value="corazon"/>
                                                <enumeration value="coches"/>
                                                <enumeration value="investigacion"/>
                                                <enumeration value="otra"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="paginas" type="integer" use="required"/>
                                </complexType>  
                            </element>
                            <element name="Periodico" minOccurs="0"  maxOccurs="unbounded">
                                <complexType>
                                    <sequence>
                                        <element name="SeccionesP">
                                            <complexType>
                                                <sequence>
                                                    <element name="SeccionP" minOccurs="0"  maxOccurs="unbounded">
                                                        <complexType>
                                                            <sequence>
                                                                <element name="Articulos">
                                                                    <complexType>
                                                                        <sequence>                                                            
                                                                            <element name="Articulo" minOccurs="0"  maxOccurs="unbounded">
                                                                                <complexType>
                                                                                    <sequence>                                                               
                                                                                        <element name="Contenido">
                                                                                            <complexType>
                                                                                                <attribute name="enlace" type="string" use="required"/>
                                                                                            </complexType>
                                                                                        </element>
                                                                                    </sequence>
                                                                                    <attribute name="titulo" type="string" use="required"/>
                                                                                    <attribute name="autor" type="string" use="required"/>
                                                                                </complexType>
                                                                            </element>
                                                                        </sequence>
                                                                    </complexType>
                                                                </element>
                                                            </sequence>
                                                            <attribute name="tipo_seccion" use="required">
                                                                <simpleType>
                                                                    <restriction base="string">
                                                                        <enumeration value="economica"/>
                                                                        <enumeration value="opinion"/>
                                                                        <enumeration value="deportes"/>
                                                                        <enumeration value="nacional"/>
                                                                        <enumeration value="internacional"/>
                                                                    </restriction>
                                                                </simpleType>
                                                            </attribute>
                                                        </complexType>
                                                    </element>                                                                
                                                </sequence>
                                            </complexType>
                                        </element>
                                    </sequence>
                                    <attribute name="tipo_clase" use="required">
                                        <simpleType>
                                            <restriction base="string">
                                                <enumeration value="nacionales"/>
                                                <enumeration value="internacionales"/>
                                            </restriction>
                                        </simpleType>
                                    </attribute>
                                    <attribute name="fecha_publicacion" type="date" use="required"/>
                                </complexType>  
                            </element>                                                      
                        </sequence>
                        <attribute name="id" type="string" use="required"/>
                    </complexType>
                </element>
            </sequence>
        </complexType>
    </element>
</schema>